{
  "db": {
    "name": "",
    "user": "",
    "password": "",
    "host": "",

    "-": "ssl-modes: disable, require, verify-ca, verify-full. For more information, https://godoc.org/github.com/lib.pq",
    "ssl-mode": "disable",

  }
}