{{ define "content" }}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>잘못된 접근입니다.</strong>
    </div>

    <div class="jumbotron">
        <h1>Improcuss에서 대화를 나누세요</h1>
        <p>같은 조직의 사람들끼리 스레드를 열어 이야기를 시작하세요.</p>
    </div>

    <div class="container">

        <h5 class="card-header-custom">최고 댓글</h5>
        <div class="card-group">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-comment"></i> 정말 안 질리나</h5>
                    <p class="card-text">
                        <i class="fas fa-user"></i> 5명 - <i class="far fa-clock"></i> 5분 전
                        <br>
                        <i class="far fa-comments"></i> 14개
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-comment"></i> <span>안녕하세요!</span></h5>
                    <p class="card-text">
                        <i class="fas fa-user"></i> 5명 - <i class="far fa-clock"></i> 5분 전
                        <br>
                        <i class="far fa-comments"></i> 14개
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-comment"></i>
                        <span class="badge badge-primary">개선</span>
                        <span>커뮤니티 개선해야 할 점이 너무 많네요.</span>
                    </h5>

                    <p class="card-text">
                        <i class="fas fa-user"></i> 7명 - <i class="far fa-clock"></i> 1분 전
                        <br>
                        <i class="far fa-comments"></i> 19개
                    </p>
                </div>
            </div>

        </div>

    </div>

    </div>

{{ end }}
